* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
  }
body {
    background-color: #f5f7fa;
    padding: 40px 20px;
    font-family: Montserrat;
}
img
{
    display: block;
}
.link
{
   list-style: none;
   text-decoration: none; 
}
/* =============== main container  ============ */
.wrapper {
    /* background-color: #fff; */
    background-color: rgb(191, 191, 252);
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.slidebar {
    background-color: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.imgContainer
{
    text-align: center;
    position: relative;
}
.back
{
    position: absolute;
    top: 0;
    left: 30px;
    margin: auto;
    width: 290px;
    height: 285px;
    border-radius: 50%;
    background-color: orange;
}
.my-photo {
    margin: 0 auto;
    /* width: 300px;
    height:343px; */
    width: 300px;
    clip-path: circle();
   
}

.about-me-container {
    padding: 110px 90px;
}
/* =============== main container  ============ */

/*=================== Contacts container start  ================ */
.imgWrap
{
    width: 30px;
    height: 30px;
    background-color: rgb(62, 62, 73);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.svgContainer
{
    width: 19px;
    height: 19px;
    fill: white;
    /* padding-top: 5px; */
}
.contacts-container {
    margin: 60px 40px;
}

.contacts-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.contact-link {
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    color: #7c828b;
    margin-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.contact-link:hover {
    color: orange;
}

.contact-link-title {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 10px; 
}
/*=================== Contacts container end  ================ */
/*=================== Tech Skills start  ================ */
.tech-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.tech-skills-container {
    margin: 55px 40px 0;
}

.tech-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color:orange;
    margin-left: 15px;
}

.tech-skills-title {
    list-style: color;
}

.tech-skills-text {
    color: #d6d8db;
}
/*=================== Tech Skillsr end  ================ */

/* ================== Soft Skills start ================ */
.soft-skills-container {
    margin-top: 55px;
    margin-left: 40px;
}

.soft-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px; 
}

.soft-skills-item {
    color: orange;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
}

.soft-skills-text {
    color: #d6d8db;
}
/* ================== Soft Skills end ================ */

/* ================= Projets container start =============== */
.info-container {
    margin-bottom: 65px;
}

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}

.my-name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.description {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}

.projects-container {
    margin-bottom: 55px;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    /* margin-bottom: 16px; */
    color: #578cdb; 
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 7px;
    width: 400px;
}

.projects__items {
    /* padding-left: 17px; */
    font-weight: 700;
    text-align: left;
    margin-bottom: 15px;
    
}

.projects__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px; 
    transition-delay: 250ms;
}
.projects__link :hover
{
    color: orange;
}
.project__SVG
{
    padding-top: 5px;
    width: 16px;
    height: 16px;
    fill: orange;
}
.web
{
    display: inline-block;
    margin: auto;
}
.project__responsive
{
    margin-left: 200px;
    display: inline-block;
    margin-top: 10px;
    color: #578cdb; 
}
.tech-name {
    color: #ffffff;
    font-weight: 700;
}

.dots {
    color: #ffffff;
    font-weight: 100;
}
.containerProject
{
    display: flex;
    margin-bottom: 15px;
}
.wrapSVG
{
    width: 45px;
    height: 45px;
    background-color: rgb(162 162 243);
    border-radius: 50%;
    padding: 5px 13px;
    display: flex;
    align-items: center;
}

.projectSVG
{
    width: 18px;
    height: 18px;
    cursor: pointer;
    fill: white;
}
/* ================= Projets container end =============== */

/* ================= company 1 ================= */
.upper
{
    margin-bottom: 15px;
}

.professional-title {
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}

.professional-company a {
    color:orange;
    list-style: none;
    text-decoration: none;
}

.professional-time {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.professional-divaider {
    color: #000;
}

.professional-duties {
    margin-top: 14px;
    margin-bottom: 30px;
}

.professional-duties-items {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
}
/* ================= company 1 ================= */
.education-title {
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.education-specialty {
    /* margin-left: 100px; */
    color: #578cdb;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.education-specialty__strong {
  color: #878787;
  font-weight: 500;
}

/* Diploma */
.lightContainer
{
    z-index: 1000;
    width: 572px;
}
.gallery {
    display: flex;
    justify-content: center;
    width: 572px;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }
  
  .gallery__item {
    width: 240px;
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
  .gallery__item:last-child
  {
    margin-left: 10px;
  }
  .gallery__image:hover {
    transform: scale(1.03);
  }
  
  .gallery__image {
    width: 240px;
    height: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
  }
  
  .gallery__link {
    display: block;
    text-decoration: none;
    width: 240px;
  }
  
  .gallery__link:hover {
    cursor: zoom-in;
  }
  
  /* Lightbox */
  .lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--animation-duration) var(--timing-function);
  }
  
  .lightbox.is-open {
    opacity: 1;
    pointer-events: initial;
  }
  
  .lightbox__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .lightbox__content {
    transform: scale(0.95);
    transition: transform var(--animation-duration) var(--timing-function);
  }
  
  .lightbox.is-open .lightbox__content {
    transform: scale(1);
  }
  
  .lightbox__image {
    display: block;
    width: auto;
    height: auto;
    max-height: 100vh;
    max-width: 100vw;
  }
  
  .lightbox__button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: background-color var(--animation-duration) var(--timing-function);
    outline: none;
    /* background-image: url('../images/icon-close.svg'); */
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
  }
  
  .lightbox__button:hover,
  .lightbox__button:focus {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .video
  {
      margin-bottom: 15px;
  }